body {
  background-image: url(images/mosaic.png);
}

/* Nav Content */
nav {
  margin-bottom: 20px;
}
/* Jumbotron Content*/
.jumbotron {
  margin-bottom: 0;
}

#title {
  text-align: center;
  width: 100%;
}

img#profile {
  width: 150px;
  margin: 10px;
}

/* About Content*/
.container {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  box-sizing: border-box;
}
.about {
  width: 150px;
  margin: 0 auto;
}
.card {
  width: 400px;
  box-sizing: border-box;
  margin: auto;
  border: none;
}

/* Portfolio Content */
.portfolio {
  margin-bottom: 10px;
}
.card-title {
  text-align: center;
  font-size: 30px;
}
.size {
  height: 300px;
}

.sky {
  background: lightskyblue;
}
.crystal {
  background: lavender;
}
.about-background {
  background: gray;
}
ul {
  list-style-type: none;
}

/*Contact Content*/
form {
  background: lightgray;
  padding: 10px;
}

.form-row {
  margin: 10px;
}

a {
  color: whitesmoke;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row {
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
